{
  "extends": "airbnb",
  "globals": {
      "document": true,
  },
  "env": {
      "browser": true,
  },
  "rules": {
    "linebreak-style": 0,
    'import/no-extraneous-dependencies': ["error", { devDependencies: true, }],
    "import/extensions": [0, "always"],
  }
}
